@import 'tailwindcss';

h1,
h2,
h3 {
  font-family: 'Playfair Display', serif;
  text-transform: uppercase;
}
body {
  font-family: 'Montserrat', sans-serif;
}
@layer components {
  .title {
    font-family: 'Playfair Display', serif;
    text-transform: uppercase;
  }
  .select-disable {
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  section {
    @apply h-screen w-full bg-[#f2edeb] px-5 py-5 xl:px-9.5 xl:py-20;
  }
  body {
    color: #221f20;
  }
  body::selection {
    @apply bg-[#221f20] text-[#f2edeb] text-shadow-none;
  }

  .section-border-dashed {
    @apply border border-dashed border-t-black/50;
  }
  .flex-center {
    @apply items-center justify-center;
  }
}
