@import 'tailwindcss';

h1,
h2,
h3 {
  font-family: 'Playfair Display', serif;
  text-transform: uppercase;
}
body {
  font-family: 'Montserrat', sans-serif;
}

button {
  cursor: pointer;
  font-weight: 700;
  transition: all 0.2s;
  padding: 10px 20px;
  border-radius: 100px;
  background: #cfef00;
  border: 1px solid transparent;
  display: flex;
  align-items: center;
  font-size: 15px;
}

button:hover {
  background: #c4e201;
}

button > svg {
  width: 34px;
  margin-left: 10px;
  transition: transform 0.3s ease-in-out;
}

button:hover svg {
  transform: translateX(5px);
  fill: black;

  .arrow {
    fill: white;
  }
}

button:active {
  transform: scale(0.95);
}

.hero-section {
  background: #d4e6e9;
  background: linear-gradient(180deg, rgba(212, 230, 233, 1) 0%, rgba(234, 228, 218, 1) 100%);
}

.clothing-section {
  background: #7a7a7a;
  background: radial-gradient(circle, #5f5f5f, #111111 45%);
  box-shadow: inset 1 0 550px rgba(0, 0, 0);
}

@layer components {
  section {
    height: 100vh;
    padding: 4rem 5rem;
  }

  .title {
    font-family: 'Playfair Display', serif;
    text-transform: uppercase;
  }
}
